@use "../partials/variables" as v;
@use "../partials/functions" as f;
@use "sass:color";

@layer components {
	.button {
		width: 100%;
		padding: 15px;
		background: linear-gradient(to right, v.$primary-color, v.$primary-light);
		color: white;
		border-radius: v.$input-radius;
		border: none;
		cursor: pointer;
		font-size: 17px;
		font-weight: 600;
		letter-spacing: 0.5px;
		transition: v.$transition;
		box-shadow: 0 4px 10px rgba(v.$primary-color, 0.3);
		margin-top: 10px;
		position: relative;
		overflow: hidden;

		&:hover {
			box-shadow: 0 6px 15px rgba(v.$primary-color, 0.4);
		}

		&:active {
			transform: translateY(1px);
			box-shadow: 0 2px 8px rgba(v.$primary-color, 0.3);
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 5px;
			height: 5px;
			background: rgba(255, 255, 255, 0.5);
			opacity: 0;
			border-radius: 100%;
			transform: translate(-50%, -50%) scale(1);
			transition: all 0.6s ease;
		}

		&:active:after {
			opacity: 1;
			transform: translate(-50%, -50%) scale(50);
			transition: all 0s;
		}

		&.button-danger {
			background: linear-gradient(to right, v.$error-text, v.$error-border);
			box-shadow: 0 4px 10px rgba(v.$error-text, 0.3);
	
			&:hover {
				box-shadow: 0 6px 15px rgba(v.$error-text, 0.4);
			}
	
			&:active {
				box-shadow: 0 2px 8px rgba(v.$error-text, 0.3);
			}
		}

		&.button-success {
			background: v.$success-color;
			box-shadow: 0 4px 10px rgba(v.$success-color, 0.3);
	
			&:hover {
				box-shadow: 0 6px 15px rgba(v.$success-color, 0.4);
			}
	
			&:active {
				box-shadow: 0 2px 8px rgba(v.$success-color, 0.3);
			}
		}

	}
}