@use "../partials/variables" as v;
@use "../partials/functions" as f;

@layer components {
	.container {
		display: flex;
		justify-content: center;

		@each $name, $value in v.$breakpoints {
			@media screen and (min-width: $value) {

				@if ($name =="sm") {
					margin: auto;
				}
				max-width: calc(#{$value} - 4rem);
			}
		}
	}
}