@use "../partials/variables" as v;
@layer components {
	.container {
		margin: 0 2rem;

		@each $name, $value in v.$breakpoints {
			@media screen and (min-width: $value) {
				@if ($name == "sm") {
					margin: auto;
				}
				max-width: calc($value - 4rem);
			}
		}
	}
}
