@use "functions" as f;
@use "variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-font: "Inter", sans-serif;
$secondary-font: "Roboto", sans-serif;
$special-font: "Poppins", sans-serif;

// Titres

h1 {
   font-weight: 200;
   color: v.$primary-dark;
   margin-bottom: f.rem(30);
   font-size: f.rem(28);
   position: relative;

   &:after {
      content: '';
      position: absolute;
      bottom: f.rem(-10);
      left: 50%;
      transform: translateX(-50%);
      width: f.rem(50);
      height: f.rem(3);
      background: linear-gradient(to right, v.$primary-light, v.$primary-dark);
      border-radius: f.rem(5);
   }
}



