@use "variables" as v;

@layer utilities {

	.text-center {
		text-align: center;
	}

	$increment: 0.25rem;

	$directions: (
		t: top,
		b: bottom,
		l: left,
		r: right,
	);

	.hidden {
		display: none !important;
	}

// spacing
@for $i from 1 through 8 {
	.h-#{$i} {
		height: $i * $increment;
	}

	.w-#{$i} {
		width: $i * $increment;
	}

	.m-#{$i} {
		margin: $i * $increment;
	}

	.m-left-#{$i} {
		margin-left: $i * $increment;
	}

	.m-right-#{$i} {
		margin-right: $i * $increment;
	}

	.m-top-#{$i} {
		margin-top: $i * $increment;
	}

	.m-bottom-#{$i} {
		margin-bottom: $i * $increment;
	}

	.p-#{$i} {
		padding: $i * $increment;
	}

	.radius-#{$i} {
		border-radius: $i * $increment;
	}

	@each $name, $value in $directions {
		.m#{$name}-#{$i} {
			margin-#{$value}: $i * $increment;
		}

		.p#{$name}-#{$i} {
			padding-#{$value}: $i * $increment;
		}
	}
}

// colors
@each $name, $value in v.$colors {
	.bg-#{$name} {
		background-color: var(--#{$name});
	}

	.border-#{$name} {
		border-color: var(--#{$name});
	}
}


// colors proprieties

@each $element in v.$color-utilities {
	@each $property, $class, $values in $element {
		@each $nb, $value in $values {
			.color-#{$property}-#{$nb} {
				#{$property}: $value;
			}
		}
	}
}

// text properties
@each $element in v.$text-utilities {
	@each $property, $class, $values in $element {
		@each $nb, $value in $values {
			.text-#{$class}-#{$nb} {
				#{$property}: $value;
			}
		}
	}
}

}

@each $number, $value in v.$z-indexes {
	.z-#{$number} {
	  z-index: $value;
	}
}